Repository munich-quantum-toolkit/ddsim, pull requests merged in 2023-09, with the labels that each got.

#267 ♻️ BackendV2 migration of MQT DDSIM Qiskit backends
  docs/source/Usage.ipynb
  src/mqt/ddsim/error.py
  src/mqt/ddsim/header.py
  src/mqt/ddsim/hybridqasmsimulator.py
  src/mqt/ddsim/hybridstatevectorsimulator.py
  src/mqt/ddsim/job.py
  src/mqt/ddsim/pathqasmsimulator.py
  src/mqt/ddsim/pathstatevectorsimulator.py
  src/mqt/ddsim/provider.py
  src/mqt/ddsim/qasmsimulator.py
  src/mqt/ddsim/statevectorsimulator.py
  src/mqt/ddsim/target.py
  src/mqt/ddsim/unitarysimulator.py
  test/python/constraints.txt
  test/python/hybridsimulator/test_hybrid_qasm_simulator.py
  test/python/hybridsimulator/test_hybrid_statevector_simulator.py
  test/python/simulator/test_multi_registers_convention.py
  test/python/simulator/test_qasm_simulator.py
  test/python/simulator/test_statevector_simulator.py
  test/python/taskbasedsimulator/test_path_sim_qasm_simulator.py
  test/python/taskbasedsimulator/test_path_sim_statevector_simulator.py
  test/python/test_provider.py
  test/python/test_target.py
  test/python/unitarysimulator/test_unitary_simulator.py
Labels: enhancement, python, minor

#294 🐛 Fix broken `manylinux` wheels
  pyproject.toml
Labels: continuous integration, packaging, fix

#293 Improved support of parametrized gates in DDSIM Backends
  src/mqt/ddsim/job.py
  src/mqt/ddsim/qasmsimulator.py
  src/mqt/ddsim/unitarysimulator.py
  test/python/simulator/test_qasm_simulator.py
Labels: enhancement, python
