Repository munich-quantum-toolkit/ddsim, pull requests merged in 2023-08, with the labels that each got.

#276 Add Reset Operation in Simulator
  src/CircuitSimulator.cpp
  test/test_circuit_sim.cpp
Labels: enhancement

#278 ✨ Python 3.12 Support
  .github/workflows/bindings.yml
  README.md
  noxfile.py
  pyproject.toml
Labels: enhancement, dependencies, github_actions, python, packaging

#279 📝 Prepare docs for new release
  LICENSE
  README.md
  docs/source/Contributing.rst
  docs/source/Installation.rst
  docs/source/Publications.rst
  docs/source/Simulators.rst
  docs/source/Support.rst
  docs/source/Usage.ipynb
  docs/source/index.rst
  docs/source/refs.bib
  pyproject.toml
Labels: documentation

#280 🐍 Update some of the Python configuration
  mqt/ddsim/__init__.py
  mqt/ddsim/error.py
  mqt/ddsim/hybridqasmsimulator.py
  mqt/ddsim/hybridstatevectorsimulator.py
  mqt/ddsim/job.py
  mqt/ddsim/pathqasmsimulator.py
  mqt/ddsim/pathstatevectorsimulator.py
  mqt/ddsim/provider.py
  mqt/ddsim/qasmsimulator.py
  mqt/ddsim/statevectorsimulator.py
  mqt/ddsim/unitarysimulator.py
  pyproject.toml
  setup.py
  test/python/generate_benchmarks.py
  test/python/hybridsimulator/test_hybrid_qasm_simulator.py
  test/python/hybridsimulator/test_hybrid_standalone_simulator.py
  test/python/hybridsimulator/test_hybrid_statevector_simulator.py
  test/python/simulator/grover.py
  test/python/simulator/test_multi_registers_convention.py
  test/python/simulator/test_qasm_simulator.py
  test/python/simulator/test_standalone_simulator.py
  test/python/simulator/test_statevector_simulator.py
  test/python/taskbasedsimulator/test_path_sim_qasm_simulator.py
  test/python/taskbasedsimulator/test_path_sim_standalone_simulator.py
  test/python/taskbasedsimulator/test_path_sim_statevector_simulator.py
  test/python/test_provider.py
  test/python/unitarysimulator/test_standalone_unitary_simulator.py
  test/python/unitarysimulator/test_unitary_simulator.py
Labels: dependencies, python
